.wrapper.svelte-15el76v{min-height:40vh;display:flex;flex-flow:row nowrap;align-items:center;justify-content:center;position:relative}.container.svelte-15el76v{position:relative;padding-top:4rem;padding-bottom:2rem;z-index:1}@keyframes svelte-15el76v-glow{from{opacity:0.75}to{opacity:1}}
.container.svelte-mn8oyv{padding-bottom:5rem}
