.meta.svelte-ewkf1s{margin:0 0 2em;padding:1em 0;border-top:1px solid vaR(--border-color);border-bottom:1px solid vaR(--border-color)}
.links.svelte-1hgoqzc.svelte-1hgoqzc{text-align:center}.links.svelte-1hgoqzc li.svelte-1hgoqzc{display:inline-block;margin:0.5em 1em}
